@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

#container {
  width: auto;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
}

.loader {
  width: 50px;
  height: 50px;
  background-color: rgb(119, 46, 255);
  border: 5px solid white;
  border-right: 5px solid rgb(180, 130, 238);
  border-radius: 50%;
  animation: animate 10s linear infinite;
  margin-right: 50px;
}

@keyframes animate {
  0% {
      rotate:0deg;
  }
  100% {
     rotate:360deg;
  }
}

.spinner {
  animation: animate 10s linear infinite;
}

.texteanim {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 60px;
  animation: textanim 0.8s linear infinite;
}

@keyframes textanim {
  0% {
      scale:100%;
      color: red;
      transform:rotate(0deg);
  }
  50% {
     scale:200%;
     color: violet;
  }
  100% {
    scale:100%;
    color: red;
  }

}

.texteanim:hover{
  transform:rotate(360deg);
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heart 3s linear infinite;


  .heart__left {
    position:absolute;
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 50% 50% 0 0;
    margin-top: 0px;
    margin-left: 42px;
    rotate: 45deg;
  }
  
  .heart__right{
    position:absolute;
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 50% 50% 0 0;
    margin-top: 0px;
    margin-left: 20px;
    rotate: -45deg;
  }
}

@keyframes heart {
  0% {
      scale:100%;
      translate: 0px 0px;
  }
  25% {
    translate: 0px -100px;
 }
  50% {
     scale:200%;
     translate: -100px 0px;
  }
  75% {
    translate: 100px 0px;
 }
  100% {
    scale:100%;
    translate: 0px 0px;
  }

}

.container_tab {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
}

.tab {
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: rgba(127, 255, 212, 0.406);
  border: 2px solid black;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table tbody {
  display: table;
  width: 100%;
}

  @media (max-width: 767px) {
    .hidden {
      display: none;
    }
  }

  @media (min-width: 767px) {
    .liste {
      display: none;
    }
  }

  tr td {
    border: 2px solid black;
  }